<footer class="footer">
  <div class="footer-content">
    <div id="about" class="footer-section">
      <h3>À Propos</h3>
      <p>Nous sommes une plateforme d'apprentissage en ligne de premier plan, dédiée à fournir une éducation de qualité à tous, partout dans le monde.</p>
    </div>
    <div id="contact" class="footer-section">
      <h3>Contactez-nous</h3>
      <p>Email : aminezaidi&#64;gmail.com</p>
      <p>Téléphone : +216 27 055 885</p>
      <p>Adresse : 123 Rue de l'Apprentissage, Ville Éducative</p>
    </div>
  </div>
  <div class="footer-bottom">
    
  </div>
</footer>
